<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leikooo.codemother.mapper.ObservableRecordMapper">

    <resultMap id="BaseResultMap" type="com.leikooo.codemother.model.entity.ObservableRecord">
            <id property="id" column="id" />
            <result property="conversationId" column="conversation_id" />
            <result property="inputTokens" column="input_tokens" />
            <result property="outputTokens" column="output_tokens" />
            <result property="completionTokens" column="completion_tokens" />
            <result property="durationMs" column="duration_ms" />
            <result property="toolCallCount" column="tool_call_count" />
            <result property="timestamp" column="timestamp" />
    </resultMap>

    <sql id="Base_Column_List">
        id,conversation_id,input_tokens,output_tokens,completion_tokens,duration_ms,
        tool_call_count,timestamp
    </sql>
</mapper>
