<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leikooo.codemother.mapper.SpringAiChatMemoryMapper">

    <resultMap id="BaseResultMap" type="com.leikooo.codemother.model.entity.SpringAiChatMemory">
            <result property="conversationId" column="conversation_id" />
            <result property="content" column="content" />
            <result property="type" column="type" />
            <result property="timestamp" column="timestamp" />
    </resultMap>

    <sql id="Base_Column_List">
        conversation_id,content,type,timestamp
    </sql>
</mapper>
